# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.idb
*.filters
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.vcxproj
*.ilk
*.log
Output-build.txt
*.dll
*.lib
*.sbr
*tlog
*.sdl
*.lastbuildstate
*.sdf
*.sln
*.opensdf